@model whereyouat.Settings
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ASP.NET Core in any Cloud - ASP.NET is open source and runs on Windows, Mac, and Linux">
    <meta name="author" content="A cast of thousands. Or one.">
    <title>ASP.NET Core in any Cloud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" href="css/creative.css" type="text/css">
    <script src="js/getloc.js"></script>
</head>

<body id="page-top">
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Where you at? YOU ARE @Model.Cloud_Name</h1>
                <hr>
                <h2>ASP.NET Core runs on any Cloud!</h2>
                <!--Put Geo data onClick Ugly/bad oldschool JS Bootstrap JQuery code it works though-->
                <a href="#" onclick="getLocation(); return false;" class="btn btn-default btn-xl wow tada">Get my Location</a>
                <h3 id="demo"></h3>
                @{
                    var largeIcon = $"~/img/large/{Model.Cloud_Name}.png";
                }
                <h3>You're running ASP.NET on @Model.Cloud_Name!</h3>
                <img src="@largeIcon" alt="@Model.Cloud_Name" />
                <p>
                    <strong>Disclaimer:</strong> For this Demo, we are using navigator.geolocation APIs to find your browser's location. Please note we are rounding down your latitude and longitude to just two decimal points to get just a general sense of where you are.
                    <br /><strong>NO EXACT</strong> locations are being stored. Please don't push <i>Get Location</i>  if you don't wish to participate in this demo.
                </p>
            </div>
        </div>
    </header>
    <section class="bg-primary" id="map">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Be in this silly demo live in the ASP.NET Overview Session at //BUILD</h2>
                    <!--hr class="bg-dark">-->
                    <p class="text-faded"> Build 2016 March 30 - April 1</p>

                    <a href="http://build.microsoft.com/" class="btn btn-default btn-xl"> Watch at http://build.microsoft.com</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
