@model whereyouat.Settings
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ASP.NET Core in any Cloud - ASP.NET is open source and runs on Windows, Mac, and Linux">
    <meta name="author" content="A cast of thousands. Or one.">
    <title>ASP.NET Core in any Cloud</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel="stylesheet" href="css/creative.css" type="text/css">
    <script src="js/getloc.js"></script>
    <script>
        function thankyou() {
            document.getElementById("thanks").innerHTML = "Thank You!";
        }
    </script>
</head>

<body id="page-top">
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Where you at?</h1>
                <hr>
                <h3 class ="text-main">ASP.NET Core runs on any Cloud</h3>
                <!--Put Geo data onClick Ugly/bad oldschool JS Bootstrap JQuery code it works though-->
                <h3 id="demo"></h3>
                <p class ="text-main"> ASP.NET on @Model.Cloud_Name!</p>
                <img src="~/img/Large/Azure ACS.png" />
                <img src="~/img/Large/AWS EC2.png" />
                <img src="~/img/Large/Docker Cloud.png" />
                <br/>
                <br/>
                <p class ="text-main">
                    Thank you for being a part of the Where You At Demo!  This Demo has ended but here’s <a href="https://channel9.msdn.com/Events/Build/2016/B810" target="_blank">the Channel 9 recording of how it went</a>. Code and blog post coming soon.  Remember ASP.NET Core runs on any cloud!
                    @*<strong>Disclaimer:</strong> For this Demo, we are using navigator.geolocation APIs to find your browser's location. Please note we are rounding down your latitude and longitude to just two decimal points to get just a general sense of where you are.
                    <br /><strong>NO EXACT</strong> locations are being stored. Please don't push <i>Get Location</i>  if you don't wish to participate in this demo.*@
                </p>
                @*<a href="#" onclick="getLocation(); thankyou(); return false;" class="btn btn-default btn-xl wow tada">Get my Location</a>*@
                <a href="#map" class="btn btn-default btn-xl wow tada"> See the Results</a>
                <br/><br/>
                <p class="text-acknowledge"  id ="thanks" class ="text-main"> Thank you!</p>
            </div>
        </div>
    </header>
    <section class="bg-primary" id="map">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading"> The World View </h2>
                    <!--hr class="bg-dark">-->
                    <p class="text-faded"> Your Cloud. Your  ASP.NET Core Application </p>
                    <img src="~/img/Map/WhereYouAtMap.png" class="img-responsive"/>
                    <br /><br/>
                    <a href="#services" class="btn btn-default btn-xl">  How We Did It </a>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"> Code and Blog Posts Coming Soon</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <div class="service-box">
                        @*<i class="fa fa-4x fa-windows wow bounceIn text-primary"></i>*@
                        <i class="fa fa-4x fa-github wow bounceIn text-primary"></i>
                    
                        <h3>Code </h3>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="service-box">
                        @*<i class="fa fa-4x fa-amazon wow bounceIn text-primary" data-wow-delay=".1s"></i>*@
                        <i class="fa fa-4x fa-pencil-square-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                   
                        <h3>Posts </h3>

                    </div>
                </div>
                
                
            </div>
        </div>
    </section>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
